body {
    font-family: 'Arial', sans-serif;
  background: url('https://ideogram.ai/assets/progressive-image/balanced/response/kN7hdouGTxuwsIMrIMowdA');
  background-size: cover;
  background-position: center;

}
.my{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.container {
    background: rgb(109, 25, 198);
    padding: 2rem;
    color: aliceblue;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(220, 240, 255);
}

.converter {
    display: grid;
    gap: 1rem;
}

label {
    margin-bottom: 0.5rem;
    display: block;
}

input, select, button {
    width: 100%;
    padding: 0.5rem;
    
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 3px solid #071945;
    border-radius: 4px;
}

button {
    background: #0a0a6e;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #0056b3;
}

.result {
    text-align: center;
    color: aliceblue;
}

.result h2 {
    margin-bottom: 0.5rem;
}

.result p {
    font-size: 1.5rem;
    color: #ffffff;
}
